#parsedDataTable table {
	border-collapse: collapse;
	border: 1px solid #000000;
	font-family: arial;
	font-size: 8pt;
}

#parsedDataTable table td, #parsedDataTable table th {
	border: 1px solid #000000;
	white-space: nowrap;
}


.cellError {
	//color: red;
	background-color: yellow;
		
		
}
.cellOK {
		color: green;
}
.cellCalculated {
		font-weight: bold;
		color: #0000FF
		
}

.rowError {
		background-color: #dddddd;

}

#parseResult {
	padding-top: 15px;
	float: left;
}

#insertResult {
	padding-top: 15px;
	padding-left: 25px;
	float: left;
}

#batchRecordLink {
	padding-top: 15px;
	padding-left: 25px;
	float: left;
}

.custPopup {
	background-color: white;
	background-color: rgba(255, 255, 255, 1);
	border-width: 2px;
	border-style: solid;
	z-index: 1002;
	left: 50%;
	padding: 10px;
	position: fixed;
	/* These are the 3 css properties you will need to change so the popup
    displays in the center of the screen. First set the width. Then set
    margin-left to negative half of what the width is. You can add
    the height property for a fixed size pop up if you want.*/
	width: 40%;
	margin-left: -20%;
	top: 20px;
	overflow: hidden;
}

.popupBackground {
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1001;
}

#popupEdit {
    position: absolute;
    background: #fff;
    top: 10%;
    box-shadow: 2px 2px 20px 2px #ccc;
    border: 1px solid #ccc;
    padding: 20px;
    left: 10%;
    max-width: 500px;
}
#popupEdit input {
    width: 97%;
    padding: 5px;
    margin-bottom: 10px;

}
#popupEdit .ui-grid-a > div {
    width: 49%;
    display: inline-block;
}
#popupEdit .ui-grid-a {
    border: none;
}

#popupEdit .popupbutton {
    padding: 10px;
    border-radius: 0;
    text-transform: uppercase;
}
#popupEdit .ui-block-a .popupbutton {
    background: #eee;

}
#popupEdit .ui-block-b .popupbutton {
    background: #333;
    color: #fff;
}


