#parsedDataTable table {
	border-collapse: collapse;
	border: 1px solid #000000;
	font-family: arial;
	font-size: 8pt;
}
#parsedDataTable table th {
    padding: 5px;
    background: #ddd;
}
#parsedDataTable table td, #parsedDataTable table th {
    border: 1px solid #000000;
    text-align: center;
    white-space: nowrap;
}

.cellError {
	color: red;
	background-color: yellow;
		
		
}
.cellOK {
		color: green;
}
.cellCalculated {
		font-weight: bold;
		color: #0000FF
		
}

.rowError {
		background-color: #dddddd;

}

#parseResult {
	padding-top: 15px;
	float: left;
}

#insertResult {
	padding-top: 15px;
	padding-left: 25px;
	float: left;
}

#batchRecordLink {
	padding-top: 15px;
	padding-left: 25px;
	float: left;
}

.custPopup {
	background-color: white;
	background-color: rgba(255, 255, 255, 1);
	border-width: 2px;
	border-style: solid;
	z-index: 1002;
	left: 50%;
	padding: 10px;
	position: fixed;
	/* These are the 3 css properties you will need to change so the popup
    displays in the center of the screen. First set the width. Then set
    margin-left to negative half of what the width is. You can add
    the height property for a fixed size pop up if you want.*/
	width: 40%;
	margin-left: -20%;
	top: 20px;
	overflow: hidden;
}

.popupBackground {
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1001;
}

#popupEdit {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 20px solid #fff;
    box-shadow: 2px 2px 20px 2px #ccc;
    left: 350px;
    max-width: 500px;
    max-height: 400px;
    overflow: auto;
    padding: 15px 20px;
    position: absolute;
    top: 10%;
}
#popupEdit > div {
    width: 100%;
}
#popupEdit label {
    font-weight: 700;
}
#popupEdit input {
    background: #f7f7f7;
    margin-bottom: 10px;
    padding: 5px;
    width: 97%;
}
#popupEdit hr {
    margin: 20px 0;
}
#popupEdit h1 {
    text-align: center;
    width: 100%;
    float: left;
    font-size: 18px;
}
#popupEdit .popupsubmit > div {
    display: inline-block;
    width: 49%;
    
}
#popupEdit .popupsubmit {
    border: none;
}

#popupEdit .popupbutton {
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 5px #999;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
#popupEdit .saveBtn .popupbutton {
    background: #78AB24;
    color: #fff;   
}
#popupEdit .saveBtn .popupbutton:hover {
    background: #B0CF76;
}
#popupEdit .cancelBtn .popupbutton {
    background: #eee;
    color: #000;
}
#popupEdit .cancelBtn .popupbutton:hover {
    background: #666;
    color: #fff;
}

#edit-row, #add-contact {
    background: #78AB24;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    letter-spacing: .5px;
    margin: 2px;
    padding: 2px 10px;
    text-transform: lowercase;
    transition: all 0.3s ease 0s;
}
#edit-row:hover, #add-contact:hover {
    background: #B0CF76;
}
#newOwner {
    background: #eee;
    border-radius: 8px;
    margin: 7px 0 20px;
    padding: 15px 15px 20px;
}
#newOwner input {
    background: #fff;
    margin-bottom: 3px;
}
#txtID {
    display: none;
}
