<apex:page sidebar="false" showHeader="true" docType="html-4.01-strict">
<CRMC_PP:Grid ObjectName="Unit_Inventory__c" DelayLoad="false"  ViewID="a0Y4B000000MTk8UAG" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
<CRMC_PP:DrillUp />
</apex:page>