<apex:page controller="BatchPointsController" docType="html-5.0" tabStyle="Points_Batch_Import__tab">
    <apex:stylesheet value="{!URLFOR($Resource.PointsBatchUpload, 'batch.css')}"  />

    <div id="popupLoading">
        <apex:outputpanel styleclass="popupBackground" layout="block">
            <apex:outputpanel styleclass="custPopup" layout="block">
                <div style=" margin-left: auto;  margin-right: auto;display:block; text-align:center; font-size: 1.3em;">
                    <h1>Please wait...</h1>
                    <br />
                </div>
                <div style=" margin-left: auto;  margin-right: auto;display:block;text-align:center;">
                    <apex:image url="{!$Resource.Indeterminate_Loader_1}" width="30px"></apex:image>
                </div>
            </apex:outputpanel>
        </apex:outputpanel>
    </div>
    <apex:pageblock title="Points Batch Import">
        <p>Paste Excel worksheet contents here:</p>
        <textarea name="inputText" id="inputText" style="width:800px;height:150px;" ></textarea>
        <br/><br />
        <span id="closingDate">Closing Date:<input id="closingDatePicker" type="date" value=""  /></span>
        <span id="expirationDate">Expiration Date: <select id="ExpirationPickList"><option value="Select">Select Date</option></select> </span>
        <button id="submit-parse">Parse</button>
        <button id="submit-load">Load</button>
        
        <apex:pageBlockSection >
            <div id="parseResult"></div>
            <div id="insertResult"></div>
            <div id="batchRecordLink"></div>
        </apex:pageBlockSection>
        <div id="dataTable">
            <br/><br/><hr /><br/>
            <div id="parsedDataTable"></div>
            <!--popup-->
            <div data-role="popup" id="popupEdit">
                <div>
                    <h1>Edit Batch Import</h1>
                    <p>
                        <button id="add-contact">Add New Owner</button>
                    </p>
                    <div id="newOwner">
                        <h3>New Owners</h3>
                    </div>
                    
                    <hr />
                    
                    
                    <input type="text" name="txtID" id="txtID" value="" />
                    <label for="txtNum">Membership Number</label>
                    <input type="text" name="txtNum" id="txtNum" value="Numberz" />
                    <label for="conNum">Contract Number</label>
                    <input type="text" name="conNum" id="conNum" value="" />

                    <label for="conDate">Contract Date</label>
                    <input type="text" name="conDate" id="conDate" value="" />

                    <label for="batNum">Batch Number</label>
                    <input type="text" name="batNum" id="batNum" value="" />

                    <label for="portfolio">Portfolio</label>
                    <input type="text" name="portfolio" id="portfolio" value="" />

                    <label for="nameOne">Name 1</label>
                    <input type="text" name="nameOne" id="nameOne" value="" />

                    <label for="nameTwo">Name 2</label>
                    <input type="text" name="nameTwo" id="nameTwo" value="" />

                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" value="" />

                    <label for="city">City</label>
                    <input type="text" name="city" id="city" value="" />

                    <label for="state">State</label>
                    <input type="text" name="state" id="state" value="" />

                    <label for="zip">Zip</label>
                    <input type="text" name="zip" id="zip" value="" />

                    <label for="country">Country</label>
                    <input type="text" name="country" id="country" value="" />

                    <label for="vesting">Vesting</label>
                    <input type="text" name="vesting" id="vesting" value="" />

                    <label for="upgrdPts">Upgrd Pts</label>
                    <input type="text" name="upgrdPts" id="upgrdPts" value="" />

                    <label for="convrtPts">Convrt Pts</label>
                    <input type="text" name="convrtPts" id="convrtPts" value="" />

                    <label for="newPts">New Pts</label>
                    <input type="text" name="newPts" id="newPts" value="" />

                    <label for="sumPts">Sum Pts</label>
                    <input type="text" name="sumPts" id="sumPts" value="" />

                    <label for="occYear">Occ Year</label>
                    <input type="text" name="occYear" id="occYear" value="" />

                    <label for="ic">IC #</label>
                    <input type="text" name="ic" id="ic" value="" />

                    <label for="rc">RC</label>
                    <input type="text" name="rc" id="rc" value="" />

                    <label for="mcbp">MC/BP</label>
                    <input type="text" name="mcbp" id="mcbp" value="" />

                    <label for="purPrice">Purchase Price</label>
                    <input type="text" name="purPrice" id="purPrice" value="" />

                    <label for="convFee">Conv Fee</label>
                    <input type="text" name="convFee" id="convFee" value="" />

                    <label for="convVal">Conv Value</label>
                    <input type="text" name="convVal" id="convVal" value="" />

                    <label for="amtFin">Amt Finance</label>
                    <input type="text" name="amtFin" id="amtFin" value="" />

                    <label for="downPmt">Down Payment</label>
                    <input type="text" name="downPmt" id="downPmt" value="" />

                    <label for="closeEq">Close Equity</label>
                    <input type="text" name="closeEq" id="closeEq" value="" />

                    <label for="downEq">Down Equity</label>
                    <input type="text" name="downEq" id="downEq" value="" />

                    <label for="totalEq">Total Equity</label>
                    <input type="text" name="totalEq" id="totalEq" value="" />

                    <label for="clsCost">ClsCost Rcvd</label>
                    <input type="text" name="clsCost" id="clsCost" value="" />

                    <label for="totCash">TotCash Rcvd</label>
                    <input type="text" name="totCash" id="totCash" value="" />

                    <label for="cttClose">CTT Close Cost</label>
                    <input type="text" name="cttClose" id="cttClose" value="" />

                    <label for="closeCost">Close Cost</label>
                    <input type="text" name="closeCost" id="closeCost" value="" />

                    <label for="escPro">Escrow Proceeds</label>
                    <input type="text" name="escPro" id="escPro" value="" />

                    <label for="hypAmt">Hypoth Amount</label>
                    <input type="text" name="hypAmt" id="hypAmt" value="" />

                    <label for="deedDate">Deeded Date</label>
                    <input type="text" name="deedDate" id="deedDate" value="" />

                    <label for="firstPay">First Payment Due Date</label>
                    <input type="text" name="firstPay" id="firstPay" value="" />

                    <label for="closeDate">Closing Date</label>
                    <input type="text" name="closeDate" id="closeDate" value="" />

                    <label for="trust">Trust</label>
                    <input type="text" name="trust" id="trust" value="" />

                    <label for="lender">Lender</label>
                    <input type="text" name="lender" id="lender" value="" />

                    <label for="season">Season</label>
                    <input type="text" name="season" id="season" value="" />

                    <label for="resortCode">Resort Code</label>
                    <input type="text" name="resortCode" id="resortCode" value="" />

                    <label for="totDeb">Total Debits</label>
                    <input type="text" name="totDeb" id="totDeb" value="" />

                    <label for="totCred">Total Credits</label>
                    <input type="text" name="totCred" id="totCred" value="" />
                    
                    <fieldset class="popupsubmit">
                        <div class="saveBtn">
                            <input type="button" value="Save" id="savebutton" class="popupbutton" />
                        </div>
                        <div class="cancelBtn">
                            <input type="button" value="Cancel" id="cancelbutton" class="popupbutton" />
                        </div>
                    </fieldset>
                </div>
            </div>
            
            <!--end-->
        </div>    
            <br /><hr/>
       <!--<apex:form>
            <apex:outputText value="{0,date, MMMM d,  yyyy}">
                <apex:param value="{! fDate }"/>
            </apex:outputText>

        </apex:form>-->
    </apex:pageblock>
    <apex:includeScript value="{!URLFOR($Resource.PointsBatchUpload, 'jquery.min.js')}"  />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <apex:includeScript value="{!URLFOR($Resource.PointsBatchUpload, 'papaparse.min.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.PointsBatchUpload, 'utility.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.PointsBatchUpload, 'batch.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.PointsBatchUpload, 'welk.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.PointsBatchUpload, 'shell.js')}"  />

</apex:page>